<h2>Measurements for Observation <%= @observation.observation_number %></h2>

<table border="0">
<thead>
    <tr>
        <th>MJD</th>
        <th>FWHM</th>
        <th>Sky background</th>
        <th>Humidity</th>
        <th>Ambient temperature</th>
        <th>CCD temperature</th>
    </tr>
</thead>
<% @measurements.each do |m| %>
    <tr>
        <td><%= m.mjd %></td>
        <td><%= m.fwhm %></td>
        <td><%= m.sky_background %></td>
        <td><%= m.humidity %></td>
        <td><%= m.ambient_temp %></td>
        <td><%= m.ccd_temp %></td>
    </tr>
    <% end %>
</table>
